<section class="form-page">
  <h1>Signup</h1>

  <% if @error_signup %>
    <div class="alert alert-danger">
      <h4>Sorry, it looks like something went wrong with your responses</h4>
    </div>
  <% end %>

  <%= form_for :user, url: '/users' do |f| %>
    <div class="alert alert-info forms">
      Name:
      <div class ="form-field">
        <%= f.text_field :name %>
      </div>
      Email:
      <div class ="form-field">
        <%= f.text_field :email %>
      </div>
      Password:
      <div class ="form-field">
        <%= f.password_field :password %>
      </div>
      Password Confirmation: 
      <div class ="form-field">
        <%= f.password_field :password_confirmation %>
      </div>
      <div class ="form-field button">
        <%= f.submit "Submit" %>
      </div>
    <div>

  <% end %>
</section>