<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p style="font-size: 0.8em;"><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol (price / 100.0) %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol((price / 100.0) * quantity) %>
  </td>
</tr>